snippet st "console.log"
console.log(${0});
endsnippet

snippet f "Arrow Function"
(${1:arg}) => {
	${0}
}
endsnippet

snippet cf "Constant Function"
const ${1:funcName} = () => {
	${0}
}
endsnippet

snippet ef "Export Function"
export function ${1:functionName}() {
	${0}
}
endsnippet

snippet af "Async Arrow Function"
async (${1}) => {
	${0}
}
endsnippet

snippet aff "Async Function"
async function ${1:FunctionName}() {
	${0}
}
endsnippet

